REACT_APP_API_URL=
REACT_APP_ELASTICSEARCH_HOST=
REACT_APP_ELASTICSEARCH_PORT=
REACT_APP_ELASTICSEARCH_USERNAME=
REACT_APP_ELASTICSEARCH_PASSWORD=
REACT_APP_HIVE_METASTORE_URI=
REACT_APP_SQOOP_CONNECTION_STRING=
REACT_APP_MYSQL_DATABASE_URL=
REACT_APP_MYSQL_USER=
REACT_APP_MYSQL_PASSWORD=
REACT_APP_LOG_LEVEL=info
REACT_APP_DEBUG_MODE=false
